<div class="layer-toggle">
  <div class="layer-toggle-header">
    <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
      <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
      <polyline points="2 17 12 22 22 17"></polyline>
      <polyline points="2 12 12 17 22 12"></polyline>
    </svg>
    Layers
  </div>
  <div class="layer-list">
    @for (layer of layers; track trackByLayer($index, layer)) {
      <div class="layer-item">
        <label class="layer-checkbox-label" [class.disabled]="disabled">
          <input
            type="checkbox"
            class="layer-checkbox"
            [checked]="layer.visible"
            [disabled]="disabled"
            (change)="onToggle(layer, $event)"
          />
          <span class="layer-color" [style.background-color]="layer.color"></span>
          <span class="layer-name">{{ layer.name }}</span>
        </label>
      </div>
    }
  </div>
</div>
